@{
    ViewData["Title"] = "Criar clientes";
}

<div class="text">
    <h1>Cadastrar um novo Cliente</h1>
    <hr>
</div>


<form action="CreateResult" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" name="id" id="id" class="form-control" required></td>
        </tr>

        <tr>
            <td>Endereco:</td>
            <td><input type="text" name="Endereco" id="Endereco" class="form-control" required></td>
        </tr>

        <tr>
            <td>Cidade:</td>
            <td><input type="text" name="Cidade" id="Cidade" class="form-control" required></td>
        </tr>

        <tr>
            <td>Regiao:</td>
            <td><input type="text" name="Regiao" id="Regiao" class="form-control" required></td>
        </tr>

        <tr>
            <td>CodigoPostal:</td>
            <td><input type="text" name="CodigoPostal" id="CodigoPostal" class="form-control" required></td>
        </tr>

        <tr>
            <td>Pais:</td>
            <td><input type="text" name="Pais" id="Pais" class="form-control" required></td>
        </tr>

        <tr>
            <td>Telefone:</td>
            <td><input type="text" name="Telefone" id="Telefone" class="form-control" required></td>
        </tr>

        <tr>
            <td> <button type="submit" class="btn btn-primary">Enviar</button></td>
        </tr>

    </table>
</form>